.about-header {
  margin: 2%;
  font-family: garamond-bold;
}

.about-container {
  margin: 2%;
  width: 96%;
  height: max-content;
  position: relative;
  display: grid;
  cursor: default;
}

.about-card {
  width: calc(100% - 2px);
  border-radius: 15px;
  border: 1px solid #ccc;
}

.about-card-content {
  padding: 4%;
  font-family: garamond;
}

.about-card-content > h1 {
  font-family: garamond-bold;
  text-align: center;
}
