@font-face {
  font-family: 'garamond';
  src: local('garamond-regular'), url(./fonts/Garamond\ Regular.ttf);
}

@font-face {
  font-family: 'garamond-bold';
  src: local('garamond-bold'), url(./fonts/Garamond.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.app {
  margin: 8%;
  margin-top: 120px;
}

#about-me {
  scroll-margin-top: 80px;
}

#projects {
  scroll-margin-top: 80px;
}

#contact {
  scroll-margin-top: 80px;
}

