html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.app {
  margin: 120px;
}

#about-me {
  scroll-margin-top: 80px;
}

#projects {
  scroll-margin-top: 80px;
}

#contact {
  scroll-margin-top: 80px;
}

